<form *ngIf="task$ | async as task" [formGroup]="newTask" (ngSubmit)="update(task)">
    <div style="display:flex; width: 100%">
        <div class="halfOfScreen">
            
                <div class="example-container">
                    <mat-form-field appearance="fill">
                      <mat-label>Enter a title</mat-label>
                      <input matInput [(ngModel)]="detail['title']"  formControlName="title" required>
                      
                    </mat-form-field>
                  </div>
                  <mat-form-field (click)="contactsAvailable(user.contacts)" *ngIf="user$ | async as user" appearance="fill">
                    <mat-label>Select contacts to assign</mat-label>
                    <mat-select    formControlName="selectPerson"  multiple>
                      <mat-select-trigger>
                        <span *ngFor="let person of persons">{{person}}, </span>
            
                      </mat-select-trigger>
                      <mat-option (click)="choosePerson(person)" *ngFor="let person of user.contacts" [value]="person">
                        {{person['firstname']}} {{person['name']}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Date</mat-label>
                    <input type="date" matInput [(ngModel)]="detail['date']" formControlName="date">
                    <mat-error *ngIf="newTask.get('date').hasError('date') && !newTask.get('date').hasError('required')">
                      Please enter a date
                    </mat-error>
                    <mat-error *ngIf="newTask.get('date').hasError('required')">
                      Date is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field  appearance="fill">
                    <mat-label>Select an option</mat-label>
                    <mat-select [(ngModel)]="detail['category']" formControlName="category" disableRipple>
                      <mat-option *ngFor="let category of categories" [value]="category">{{category}}</mat-option>
                     
                    </mat-select>
                  </mat-form-field>
                <div>
                    <mat-button-toggle-group [(ngModel)]="detail['urgency']" formControlName="urgency" name="fontStyle" aria-label="Font Style">
                        <mat-button-toggle (click)="setUrgency('urgent')" value="urgent">Urgent <img src="./assets/img/urgent.png"></mat-button-toggle>
                        <mat-button-toggle (click)="setUrgency('medium')" value="medium">Medium <img src="./assets/img/medium.png"></mat-button-toggle>
                        <mat-button-toggle (click)="setUrgency('low')" value="low">Low <img src="./assets/img/low.png"></mat-button-toggle>
                      </mat-button-toggle-group>
                      
                </div>
                <mat-form-field style="margin-top:20px ;" appearance="fill">
                    <mat-label>Description</mat-label>
                    <textarea [(ngModel)]="detail['description']" formControlName="description" matInput></textarea>
                    <mat-error *ngIf="newTask.get('description').hasError('description') && !newTask.get('description').hasError('required')">
                        Please enter a date
                      </mat-error>
                      <mat-error *ngIf="newTask.get('description').hasError('required')">
                        Description is <strong>required</strong>
                      </mat-error>
                  </mat-form-field>
                  <div class="submit-btn">
                    <button (click)="dialogClose()" class="btn-blue" mat-raised-button style="color: black"  type="button">
                     Close
                  </button>
                    <button class="btn-blue" mat-raised-button style="background-color: #4589FF; color: white; margin-left: 10px;"  type="submit">
                        Ok
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="done"></mat-icon>
                    </button>
                </div>
                  
            
        </div>
        
    </div>
    </form>