<form *ngIf="task$ | async as task" [formGroup]="newTask" (ngSubmit)="update(task)">
    <div style="display:flex; width: 100%">
        <div class="halfOfScreen">
            
                <div class="example-container">
                    <mat-form-field appearance="fill">
                      <mat-label>Enter a title</mat-label>
                      <input matInput [(ngModel)]="detail['title']"  formControlName="title" required>
                      
                    </mat-form-field>
                  </div>
                  <mat-form-field appearance="fill">
                    <mat-label>Select contacts to assign</mat-label>
                    <mat-select [(ngModel)]="detail['selectPerson']" formControlName="selectPerson"  multiple>
                      <mat-select-trigger>
                        {{ newTask.get('selectPerson').value?.[0] || ''}}
                        <span *ngIf="(newTask.get('selectPerson').value?.length || 0) > 1" class="example-additional-selection">
                          (+{{(newTask.get('selectPerson').value?.length || 0) - 1}} {{newTask.get('selectPerson').value?.length === 2 ? 'other' : 'others'}})
                        </span>
                      </mat-select-trigger>
                      <mat-option *ngFor="let person of persons" [value]="person">{{person}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Date</mat-label>
                    <input type="date" matInput [(ngModel)]="detail['date']" formControlName="date">
                    <mat-error *ngIf="newTask.get('date').hasError('date') && !newTask.get('date').hasError('required')">
                      Please enter a date
                    </mat-error>
                    <mat-error *ngIf="newTask.get('date').hasError('required')">
                      Date is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>Category</mat-label>
                  <mat-select [(ngModel)]="detail['category']" formControlName="category" multiple>
                    <mat-select-trigger>
                      {{newTask.get('category').value?.[0] || ''}}
                      <span *ngIf="(newTask.get('category').value?.length || 0) > 1" class="example-additional-selection">
                        (+{{(newTask.get('category').value?.length || 0) - 1}} {{newTask.get('category').value?.length === 2 ? 'other' : 'others'}})
                      </span>
                    </mat-select-trigger>
                    <mat-option *ngFor="let category of categories" [value]="category">{{category}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <div>
                    <mat-button-toggle-group [(ngModel)]="detail['urgency']" formControlName="urgency" name="fontStyle" aria-label="Font Style">
                        <mat-button-toggle (click)="setUrgency('urgent')" value="urgent">Urgent <img src="./assets/img/urgent.png"></mat-button-toggle>
                        <mat-button-toggle (click)="setUrgency('medium')" value="medium">Medium <img src="./assets/img/medium.png"></mat-button-toggle>
                        <mat-button-toggle (click)="setUrgency('low')" value="low">Low <img src="./assets/img/low.png"></mat-button-toggle>
                      </mat-button-toggle-group>
                      
                </div>
                <mat-form-field  appearance="fill">
                    <mat-label>Description</mat-label>
                    <textarea [(ngModel)]="detail['description']" formControlName="description" matInput></textarea>
                    <mat-error *ngIf="newTask.get('description').hasError('description') && !newTask.get('description').hasError('required')">
                        Please enter a date
                      </mat-error>
                      <mat-error *ngIf="newTask.get('description').hasError('required')">
                        Description is <strong>required</strong>
                      </mat-error>
                  </mat-form-field>
                  <div class="submit-btn">
                    <button class="btn-blue" mat-raised-button color="primary" type="submit">
                        Ok
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="done"></mat-icon>
                    </button>
                </div>
                  
            
        </div>
        
    </div>
    </form>