<ng-container *ngIf="user$ | async as user; else guest">
    <mat-drawer-content class="mat-drawer-content-mobile">
      <mat-form-field style="display:none;" appearance="fill">
        
        <mat-select #mode value="over">
          
        </mat-select>
      </mat-form-field>
      <mat-form-field style="display:none;" appearance="fill">
        
        <mat-select #hasBackdrop value="true">
        </mat-select>
      </mat-form-field>
      
      <button class="toggle-btn" mat-raised-button (click)="drawer.toggle()">New contact <img src="./assets/img/userPlus.png" alt=""></button>
    </mat-drawer-content>
  <div class="contact-container" *ngIf="user$ | async as user">
    <div (click)="showDetails(contact ['firstname'], contact['name'], contact['email'], contact['phone'], i, contact['color'])" class="contact-div" *ngFor="let contact of user.contacts, let i = index">
      <div  class="contact-icon {{contact['color']}}">{{getFirstLetterOfFirstName(contact['firstname'])}}{{getFirstLetterOfSurname(contact['name'])}}</div>
      <div style="display:flex; flex-direction: column; margin-left: 30px">
        <span class="name">{{contact['firstname']}} {{contact['name']}}</span>
        <span class="email">{{contact['email']}}</span>
      </div>
      
    </div>
    </div>
   


    <mat-drawer-container class="example-container" [hasBackdrop]="hasBackdrop.value">
        <mat-drawer class="mat-drawer"  #drawer [mode]="mode.value">
            <div class="add-contact-label">
                <img src="./assets/img/Capa2.png" >
                <h1>Add contact</h1>
                <h2>Tasks are better with a team!</h2>
            </div>
            <div class="add-contact">
                <img src="./assets/img/addContact.png" >
                <form *ngIf="user$ | async as user" (ngSubmit)="addContact(user)" [formGroup]="newContact">
                  <mat-form-field appearance="fill">
                    <mat-label>First name</mat-label>
                    <input matInput  formControlName="firstname" required>
                  </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Surname</mat-label>
                        <input matInput  formControlName="name" required>
                      </mat-form-field>
                      <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" formControlName="email" required>
                      </mat-form-field>
                      <mat-form-field appearance="fill">
                        <mat-label>Phonenumber</mat-label>
                        <input matInput type="tel"  formControlName="phone" required>
                      </mat-form-field>
                      <mat-label><b>Chosse color of contact</b></mat-label>
                      <mat-radio-group formControlName="color" aria-label="Select an option">
                        
                        <mat-radio-button class="red"  value="red1"></mat-radio-button>
                        <mat-radio-button class="blue" value="blue1"></mat-radio-button>
                        <mat-radio-button class="green" value="green1"></mat-radio-button>
                        <mat-radio-button class="orange" value="orange1"></mat-radio-button>
                      </mat-radio-group>
                      <div class="btn-container">
                        <button (click)="cancelForm()"  class="btn-cancel" mat-raised-button  type="button">
                            Cancel
                            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="close"></mat-icon>
                        </button>
                        <button (click)="drawer.toggle()" class="btn-cancel-mobile" mat-raised-button  type="button">
                          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="close"></mat-icon>
                      </button>
                        <button (click)="drawer.toggle()" class="btn-create" mat-raised-button  type="submit">
                            Create contact
                            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="done"></mat-icon>
                        </button>
                    </div>
                </form>
              
            </div>
        </mat-drawer>
        <mat-drawer-content class="mat-drawer-content-desktop">
          <mat-form-field style="display:none;" appearance="fill">
            
            <mat-select #mode value="over">
              
            </mat-select>
          </mat-form-field>
          <mat-form-field style="display:none;" appearance="fill">
            
            <mat-select #hasBackdrop value="true">
            </mat-select>
          </mat-form-field>
          
          <button class="toggle-btn" mat-raised-button (click)="drawer.toggle()">New contact <img src="./assets/img/userPlus.png" alt=""></button>
        </mat-drawer-content>
      </mat-drawer-container>
    </ng-container>
    <ng-template  #guest>
      <div class="guest"><h1>Please login or sign up to add new contacts!</h1>
        <button routerLink="/login" class="btn-create" mat-raised-button type="submit">
          Go to Login
         
        </button>
      </div>
    </ng-template>


