<div class="summary">
    <h1>Hello, <span *ngIf="user$ | async as user">{{user.name}}</span></h1>

    <div class="first-container">

        <div [routerLink]="['/home/board']" class="time-date">
            
            <div class="time">
                <div><img src="./assets/img/clock.png"><span>{{urgentTasks}}</span></div>
                <div class="time1" style="margin-top: 30px;"><span style="font-size: 23px; text-align: center;">Tasks urgent</span></div>
            </div>
            
                <div style="padding-left: 10px; padding-right: 10px;"><span style="line-height: 50px;">{{getCurrentDate()}}</span><br>
                    <div class="mt-30"><span class="deadline" style="font-size: 23px;">Upcoming Deadline</span></div>
                </div>
            
            
        
        </div>
        <div [routerLink]="['/home/board']"  class="status1">
            <div class="todo"><img src="./assets/img/BoardIcon.png"><span *ngIf="task$ | async as task">{{task.todo.length}}</span></div>
            <div class="mt-10"><span class="font-status margin">Tasks to do</span></div>
        </div>
    </div>
    <div class="task-status">
        <div [routerLink]="['/home/board']" class="status">
            <div><img src="./assets/img/BoardIcon.png"><span *ngIf="task$ | async as task" class="ml-20">{{task.todo.length + task.done.length + task.feedback.length + task.progress.length}}</span></div>
            <div class="mt-10"><span class="font-status">Task in<br>Board</span></div>
        </div>
        <div [routerLink]="['/home/board']" class="status">
            <div><img src="./assets/img/progress.png"><span *ngIf="task$ | async as task" class="ml-20">{{task.progress.length}}</span></div>
            <div class="mt-10"><span class="font-status">Task in<br>Progress</span></div>
        </div>
        <div [routerLink]="['/home/board']" class="status">
            <div><img src="./assets/img/feedback.png"><span *ngIf="task$ | async as task" class="ml-20">{{task.feedback.length}}</span></div>
            <div class="mt-10"><span class="font-status">Awaiting<br>Feedback</span></div>
        </div>
        <div [routerLink]="['/home/board']" class="status">
            <div><img src="./assets/img/done.png"><span *ngIf="task$ | async as task" class="ml-20">{{task.done.length}}</span></div>
            <div class="mt-10"><span class="font-status">Tasks<br>done</span></div>
        </div>
    </div>
</div>
