.example-container .mat-form-field+.mat-form-field {
  margin-left: 8px;
}

.btn-blue {
  background: #4589FF;
color: white;
font-size: 23px;
margin-left: 12px;
}

.sign-up-container {
  font-size: 23px;
  position: absolute;
  top: 67px;
  right: 70px;
  width: 315px;

}

.sign-up-link {
  font-size: 1.2rem;
  margin-left: 8px;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.form-container {
  display: block;
  width: 652px;
  margin: auto;
  background: white;
  padding: 48px;
  border-radius: 16px;
  box-shadow: 0px 0px 10px 3px #00000014;

}

.form-container mat-form-field{
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
}

.margin-top {
  margin-top: 16px;
}

.text-center {
  text-align: center;
}

h1 {
  text-align: center;
  text-decoration: underline #4589FF ;
  font-size: 48px !important;
  line-height: 57px !important;
  font-weight: 700 !important;
}

::ng-deep {
  .mat-form-field .mat-form-field-flex{
    background-color: white; 
  }
}
.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.password {
  font-weight: 400;
  font-size: 19px;
  color: #005DFF;
  display: flex;
  justify-content: flex-end;

  span{
    cursor: pointer;
  }
}



@media(max-width: 560px) {
  .sign-up-container {
    right: unset;
   top: unset;
   display: flex;
   justify-content: center;
   align-items: center;
   position: unset;
   
  }
  

  .form-container {
    margin-left: 20px;
    margin-right: 20px;
    margin: 30px;
    width: unset;
  }

  .logo {
    position: absolute;
    top: 40px;
    left: 40px;
    height: 50px;
    width: 50px;
}
  .body {
    flex-direction: column-reverse;
  }
  
}