<div class="body">
  
    <div>
      <img class="logo" src="./assets/img/Capa1.png" alt="">
    </div>
    <div class="sign-up-container">
      <span>Not a Join user?</span>
      <button class="btn-blue" routerLink="/sign-up" mat-raised-button>Sign up</button>
    </div>
    <div class="form-container mat-elevation-z5">
      <h1>Log in</h1>
      <div >
        <form (ngSubmit)="login()">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input type="email" matInput [formControl]="email" placeholder="Ex. pat@example.com">
            <mat-icon matSuffix>mail</mat-icon>
            <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="email.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input [type]="hide ? 'password' : 'text'" matInput [formControl]="password" placeholder="Please insert your password">
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="password.hasError('password') && !password.hasError('required')">
              Please enter a password
            </mat-error>
            <mat-error *ngIf="password.hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <div style="display:flex ; justify-content: center">
            <div class="center margin-top">
              <button class="btn-blue" mat-raised-button color="primary" type="submit">
                  Login
              </button>
          </div>
          <div class="center margin-top">
            <button (click)="loginGuest()" class="btn-blue" mat-raised-button color="primary" type="button">
                Guest Login
            </button>
        </div>
          </div>
          
          
      </form>
      </div>
      
  </div>
  
</div>