mat-toolbar {
    justify-content: space-between;
    
}



.profile-image-toolbar {
    border-radius: 100%;
    margin-right: 8px;
}

mat-toolbar {
    background-color: #4589FF;
    height: 97px;
    position: fixed;
}

span {
    color: white;
}

img {
    margin-left: 20px;
}

.menu-img-container{
    display: flex;
    align-items: center;
}


.disabled {
    pointer-events: none;
}
.d-none {
    display: none;
 }



@media(max-width: 784px) {
   .menu-img-container {
    span {
        display: none;
    }
   }

   .example-container {
    display: flex;
   }

 mat-toolbar{
    position: unset;
 }
 

.btn-create {
    background-color: #4589FF;
    color: white;
    height: 61px;
    width: 180px;
    padding: 18px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    margin-left: 20px;
    border-radius: 10px;
  
    &:hover {
      background-color: #1466f5;
    }
  
  }
  

 
  }