<div class="board">
  <div style="display:flex ;" *ngIf="task$ | async as task">
    <div class="example-container">
        <h1>To do</h1>
        <div
          cdkDropList
          #todoList="cdkDropList"
          [cdkDropListData]="task.todo"
          [cdkDropListConnectedTo]="[inProgress, feedbackList, doneList]"
          class="example-list"
          (cdkDropListDropped)="drop($event, task)">
          <div (click)="edit(item, i, 'todo')" class="example-box" *ngFor="let item of task.todo,  let i = index"  cdkDrag>
            <div class="category {{item['category'][1]}}">{{item['category'][0]}}</div>
            <h2>{{item['title']}}</h2>
            <div>{{item['description']}}</div>
            <img src="./assets/img/{{item['urgency']}}.png" >
        </div>
        </div>
      </div>
    
      <div class="example-container">
        <h1>In progress</h1>
      
        <div
          cdkDropList
          #inProgress="cdkDropList"
          [cdkDropListData]="task.progress"
          [cdkDropListConnectedTo]="[todoList, feedbackList, doneList]"
          class="example-list"
          (cdkDropListDropped)="drop($event, task)">
          <div (click)="edit(item, i, 'progress')" class="example-box"  *ngFor="let item of task.progress,  let i = index" cdkDrag>
            <div class="category {{item['category'][1]}}">{{item['category'][0]}}</div>
            <h2>{{item['title']}}</h2>
            <div>{{item['description']}}</div>
            <img src="./assets/img/{{item['urgency']}}.png" >
          </div>
        </div>
      </div>
    
      <div class="example-container">
        <h1>Await feedback</h1>
      
        <div
          cdkDropList
          #feedbackList="cdkDropList"
          [cdkDropListData]="task.feedback"
          [cdkDropListConnectedTo]="[todoList, inProgress, doneList]"
          class="example-list"
          (cdkDropListDropped)="drop($event, task)">
          <div (click)="edit(item, i, 'feedback')" class="example-box" *ngFor="let item of task.feedback,  let i = index" cdkDrag>
            <div class="category {{item['category'][1]}}">{{item['category'][0]}}</div>
            <h2>{{item['title']}}</h2>
            <div>{{item['description']}}</div>
            <img src="./assets/img/{{item['urgency']}}.png" >
          </div>
        </div>
      </div>
      <div class="example-container">
        <h1>Done</h1>
      
        <div
          cdkDropList
          #doneList="cdkDropList"
          [cdkDropListData]="task.done"
          [cdkDropListConnectedTo]="[todoList, inProgress, feedbackList]"
          class="example-list"
          (cdkDropListDropped)="drop($event, task)">
          <div (click)="edit(item, i, 'done')" class="example-box" *ngFor="let item of task.done,  let i = index" cdkDrag>
            <div class="category {{item['category'][1]}}">{{item['category'][0]}}</div>
            <h2>{{item['title']}}</h2>
            <div>{{item['description']}}</div>
            <img src="./assets/img/{{item['urgency']}}.png" >
          </div>
        </div>
      </div>
</div>
</div>
