

<ng-container *ngIf="user$ | async as user; else guest">
 
  <form  *ngIf="task$ | async as task" [formGroup]="newTask" (ngSubmit)="createNewTask(task)">
    <div  class="form-div">
      <div  style="min-width: 300px; max-width: 430px;" class="halfOfScreen1">
  
        <mat-form-field  class="example-container" appearance="fill">
          <mat-label>Enter a title</mat-label>
          <input class="fz-23" type="text" matInput formControlName="title" placeholder="Enter a title">
  
        </mat-form-field>
        <div>
          <mat-form-field (click)="contactsAvailable(user.contacts)"  class="mat-form-field fz-23"  *ngIf="user$ | async as user" appearance="fill">
            <mat-label>Select contacts to assign</mat-label>
            <mat-select  formControlName="selectPerson" multiple>
              <mat-select-trigger>
                <span  *ngFor="let person of persons">{{person}}, </span>
  
              </mat-select-trigger>
              <mat-option (click)="choosePerson(person)" *ngFor="let person of user.contacts" [value]="person">
                {{person['firstname']}} {{person['name']}}
              </mat-option>
  
  
  
            </mat-select>
          </mat-form-field>
        </div>
  
        <label class="label" >Due date</label>
        <mat-form-field class="example-full-width fz-23" appearance="fill">
          <mat-label>Date</mat-label>
          <input type="date" matInput formControlName="date">
          <mat-error *ngIf="newTask.get('date').hasError('date') && !newTask.get('date').hasError('required')">
            Please enter a date
          </mat-error>
          <mat-error *ngIf="newTask.get('date').hasError('required')">
            Date is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <div style="display:flex ; flex-direction: column">
          <label class="label" >Category</label>
          <mat-form-field appearance="fill">
            <mat-label>Select an option</mat-label>
            <mat-select formControlName="category" disableRipple>
              <mat-option *ngFor="let category of categories" [value]="category">{{category}}</mat-option>
             
            </mat-select>
          </mat-form-field>
        </div>
      
        <div>
          <mat-button-toggle-group class="toggle-group"  formControlName="urgency" name="fontStyle" aria-label="Font Style">
            <mat-button-toggle id="redbtn" (click)="setUrgency('urgent')" value="urgent">Urgent <mat-icon
                aria-hidden="false" aria-label="Example home icon"><span class="material-symbols-outlined red-icon">
                  keyboard_double_arrow_up
                </span></mat-icon>
            </mat-button-toggle>
            <mat-button-toggle id="yellowbtn" (click)="setUrgency('medium')" value="medium">Medium <span
                class="yellow-icon">=</span></mat-button-toggle>
            <mat-button-toggle id="greenbtn" (click)="setUrgency('low')" value="low">Low <mat-icon aria-hidden="false"
                aria-label="Example home icon"><span class="material-symbols-outlined green-icon">
                  keyboard_double_arrow_down
                </span></mat-icon>
            </mat-button-toggle>
          </mat-button-toggle-group>
  
        </div>
        <div class="description">
          <label class="label" >Description</label>
          <mat-form-field class="fz-23" appearance="fill">
            <mat-label>Please enter a description</mat-label>
            <textarea  formControlName="description" matInput></textarea>
            <mat-error
              *ngIf="newTask.get('description').hasError('description') && !newTask.get('description').hasError('required')">
              Please enter a date
            </mat-error>
            <mat-error *ngIf="newTask.get('description').hasError('required')">
              Description is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      
  
  
      </div>
      <div class="halfOfScreen">
        <div style="display:flex;padding: 5px">
          <button (click)="clearForm()" class="btn-clear" mat-raised-button type="button">
            Clear
          </button>
          <button class="btn-create" mat-raised-button type="submit">
            Create Task
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="done"></mat-icon>
          </button>
        </div>
      </div>
    </div>
  </form>
 
</ng-container>
<ng-template  #guest>
  <div class="guest"><h1>Please login or sign up to add new tasks!</h1>
    <button routerLink="/login" class="btn-create" mat-raised-button type="submit">
      Go to Login
     
    </button>
  </div>
</ng-template>






