<body>
    <img class="logo" src="./assets/img/Capa2.png" alt="">
    <div class="form-container">
        <div style="width:100% ;">
            <mat-icon routerLink="/login" class="arrow-back-icon" aria-hidden="false" aria-label="Example home icon" fontIcon="arrow_back"></mat-icon>
        </div>
       
        <h1>I forgot my password</h1>
        <span>Don´t worry! We will send you an email with the instructions to reset your password</span>
        
            <mat-form-field  class="example-full-width margin-top" appearance="fill">
              <mat-label>Email</mat-label>
              <input type="email" matInput [(ngModel)]="email" placeholder="Ex. pat@example.com">
              <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="email"></mat-icon>
              
            </mat-form-field>
            <div class="center margin-top">
                <button (click)="forgotPassword()" class="btn-blue" mat-raised-button color="primary" type="button">
                    Send me the mail
                </button>
            </div>
          
    </div>
    
</body>
