<div class="icon-close"><mat-icon (click)="closeDialog()" aria-hidden="false" aria-label="Example home icon" fontIcon="close"></mat-icon></div>
<div class="category {{item['category'][1]}}">{{item['category'][0]}}</div>
<h1>{{item['title']}}</h1>
<div><span>{{item['description']}}</span></div>
<div><span><b>Due date: </b></span><span>{{item['date']}}</span></div>
<div><span><b>Priority: </b></span><span>{{item['urgency']}}</span><img src="./assets/img/{{item['urgency']}}.png" ></div>
<div><span><b>Assigned To: </b></span><span>{{item['selectPerson']}}</span></div>
<div class="edit-button"><img (click)="editDetail(item)" src="./assets/img/edit.png"></div>