<div class="body-home">
  <app-menu></app-menu>

  <mat-drawer-container class="example-container">
    <mat-drawer class="sidenav" mode="side" opened>
      <div class="menu-items">


        <div [routerLink]="['/home/summary']"  class="menu-items-div">
          <div><img src="./assets/img/summary.png"></div>
          <div class="description"><span>Summary</span></div>
        </div>
        <div [routerLink]="['/home/board']" class="menu-items-div">
          <div><img src="./assets/img/board.png"></div>
          <div class="description"><span>Board</span></div>
        </div>
        <div routerLink="/home/addTask"   class="menu-items-div">
          <div><img src="./assets/img/addTask.png"></div>
          <div class="description"><span>Add Task</span></div>
        </div>
        <div [routerLink]="['/home/contacts']" class="menu-items-div">
          <div><img src="./assets/img/contacts.png"></div>
          <div class="description"><span> Contacts</span></div>
        </div>


      </div>
    </mat-drawer>
    <mat-drawer-content class="mat-drawer-content">
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>

</div>